body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.layout {
    display: flex;
    height: 100vh;
    transition: margin-left 0.3s;
}


.sidebar {
    width: 250px;
    background-color: #550d97;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s;
    z-index: 1000;
}

.sidebar:hover {
    left: 0;
}

.sidebar h2 {
    margin: 0 0 20px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #310658;
}

.toggle-sidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #550d97;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1001;
}

.toggle-sidebar:hover {
    background-color: #2c064e;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-left: 0;
    margin-right: 10px;
    margin-left: 60px;
    transition: margin-left 0.3s;
}

.sidebar.open {
    left: 0;
}

.layout.sidebar-open .main-content {
    margin-left: 250px;
}

.card {
    background-color: #e0dee4d3;
    border-radius: 10px;
    padding: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #7225bb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    transition: 1s;
    background-color: #230341;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.results {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #6407bb;
    color: white;
}

td button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: #971522;
}

.password-container {
    display: flex;
    align-items: center;
}

#campo3 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

#togglePassword {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
}